body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.container{
    width:auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.col-md-12{
    width: 100%;

}
.page-header {
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}
.text-center {
    text-align: center;
}
.h2 {
    font-size: 30px;

    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    display: block;
}



.col-md-4 {
    width: 33.33333333%;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.col-md-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table-bordered>tbody>tr>th{
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: left;
}
.table-bordered>tbody>tr>td{
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: left;
}

.col-sm-3 {
    width: 25%;
    float: left;
    box-sizing: border-box;
    position: relative;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
}
.row:before,
.row:after {
    display: table;
    content: " ";
}
.row:after {
    clear: both;
}

.panel {
    margin-bottom: 10px;
    background-color: #fff;
}
.panel-default {
    border-color: #ddd;
}
.panel-body {
    padding: 5;
}