body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@page {
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.padding-10 {
    padding: 0 5%;
}

.col-md-12 {
    display: block;
    width: 100%;
}

.col-md-6 {
    display: block;
    width: 50%;
    float: left;
}

.col-md-3 {
    display: block;
    width: 24%;
    float: left;
}

.col-md-4 {
    width: 33%;
    float: left;
}

.extra-div {
    display: block;
    height: 20px
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.lh-0 {
    line-height: 1px !important;
}

.text-center {
    text-align: center;
}

img.logo {
    width: 130px;
    height: 150px;
}

img.avatar {
    width: 130px;
    height: 150px;
}

.sec-1 {
    border-top: 1px solid black;
    margin-top: 2px;
    padding-top: 20px;
}

.sec-1 h1, p.sub-title {
    text-align: center;
    margin: 0px;
    font-weight: bold;
}

.sec-1 h1 {
    font-size: 30px;
}

.sec-1 p {
    line-height: 1.8px !important;
}

p.sub-title {
    padding: 9px 0px;
}

table {
    width: 100%;
    float: left;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 4px 0px;
}

.sec-2, .sec-3 {
    padding-bottom: 10px;
}

.sec-2 p, .sec-3 p {
    font-weight: bold;
}

.sec-2-table, .sec-3-table {
    display: flex;
    justify-content: space-between;
}

.signature img{
    max-height: 25px;
    max-width: 100px;
}

.signature p {
    font-weight: 700;
    line-height: 1px;
    margin-top: 1px;
}

.bottom-signature {
    display: flex;
    justify-content: space-between;
    text-align: center;
}